@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


/* ลบปุ่มเพิ่ม/ลดใน Chrome, Safari, Edge และ Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* ลบปุ่มเพิ่ม/ลดใน Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.slick-prev:before,
.slick-next:before {
  color: black!important;
  opacity: 100;
}



/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  color: rgb(185, 28, 28);
  background: radial-gradient(farthest-side, currentColor calc(100% - 6px),#0000 calc(100% - 5px) 0);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 13px),#000 calc(100% - 12px));
  border-radius: 50%;
  animation: l19 2s infinite linear;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  background:
    linear-gradient(currentColor 0 0) center,
    linear-gradient(currentColor 0 0) center;
  background-size: 100% 10px,10px 100%;
  background-repeat: no-repeat;
}
.loader::after {
   transform: rotate(45deg);
}

@keyframes l19 { 
  100%{transform: rotate(1turn)}
}


/* HTML: <div class="loadertext"></div> */
.loadertext {
  width: fit-content;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 16px;
  padding: 0 5px 8px 0;
  background: repeating-linear-gradient(90deg,currentColor 0 8%,#0000 0 10%) 200% 100%/200% 3px no-repeat;
  animation: l3 2s steps(6) infinite;
}
.loadertext:before {
  content:"Loading..."
}
@keyframes l3 {to{background-position: 80% 100%}}



.sending{
  animation: float 3s ease-in-out 0s infinite alternate;
}
.bottlesendingobj{
  animation: spinforsending 3s ease-in-out 0s infinite ;
}


@keyframes spinforsending{
  0%{
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
   /* 25%{
    transform: translate(0px,5px);

  } */
  50%{
    transform:rotateZ(10deg);
  }
  /* 75%{

  }  */
  100%{
    transform:rotateX(0) rotateY(0) rotateZ(0);

  }
}

@keyframes float{
  0%{
    transform: translate(0px,0px);
  }
  25%{
    transform: translate(0px,10px) rotateZ(-4deg);

  }
  50%{
    transform: translate(0px,5px) rotateZ(-2deg);
  }
  75%{
    transform: translate(0px,0px) rotateZ(4deg);

  }
  100%{
    transform: translate(0px,-5px) rotateZ(6deg);

  }
}


.alearting{
  animation: AleartingAnimation 3s ease-in-out forwards;
  animation-iteration-count: 1;
}

@keyframes AleartingAnimation{
  0%{
    transform: translate(0px,0px);
    scale: 0.9;
    opacity: 0;
  }
  20%{
    scale: 1;
    opacity: 100;
  }
 
  90%{
    scale: 1;
    opacity: 100;
  }
  100%{
    scale: 0;
    opacity: 0;
    transform: translate(0px,0px);
  }
}